@inherits SessionChild
<SearchCitizenFrame @bind-Value="value">
    <div class="dropdown show m-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <Localize Value="Name" /> : @(@Value?.Name != null ? Value.Name:SessionParent.Localize("None"))
                </div>
            </div>
            <CBFrontend.UI.Citizen.SearchCitizen.Children.NameInput />
            <div class="input-group-append">
                <CBFrontend.UI.Citizen.SearchCitizen.Children.SubmitButton />
            </div>
            <div class="input-group-append">
                <CBFrontend.UI.Citizen.SearchCitizen.Children.ClearButton />
            </div>
        </div>
        <CBFrontend.UI.Citizen.SearchCitizen.Children.ResultsDropdown />
    </div>
</SearchCitizenFrame>