@inherits ModelComponentBase<IInputGroupModel<ClearPassword, PasswordValidity>>
@namespace CitizenBank.Features.Authentication.Register

<div @attributes="Attributes">
    <div>
        @Model.Label
    </div>
    <ClearPasswordInput Value="Model.Input" />
    <div>
        @Model.Description
    </div>
</div>