@inherits ModelComponentBase<ClientRegister.Result>
@namespace CitizenBank.Features.Authentication.Register

@if (Model.TryAsFailure(out var failure) && failure.Reason.TryAsSome(out var reason))
{
    <span class="text-red-700">
        @reason
    </span>
}
else if (Model.TryAsViolatedGuidelines(out var validity) && !validity.IsValid)
{
    <dl class="text-red-700">
        @foreach (var rule in validity.RulesViolated)
        {
            <dt>
                @rule.Name
            </dt>
            <dd>
                @rule.Description
            </dd>
        }
    </dl>
}
else if (Model.TryAsOverwriteSuccess(out var overwritten))
{
    <span class="text-green-700">
        Successfully overwrote previous registration request with new bio code <ClipboardWrite class="cursor-pointer hover:underline" Value="@(overwritten.BioCode.Value)" />.
    </span>
}
else if (Model.TryAsCreateSuccess(out var created))
{
    <span class="text-green-700">
        Successfully created registration request with new bio code <ClipboardWrite Value="@(created.BioCode.Value)" />.
    </span>
}
else if(Model.IsCitizenDoesNotExist)
{
    <span class="text-red-700">
        The name provided does not appear to correspond to a known citizen.
    </span>
}
else
{
    <span class="text-red-700">
        An unknown error has occurred.
    </span>
}
