@inherits SessionChild
<span>
	@Citizen.Name
	@if (isVerified)
	{
		<span style="cursor:help" title="@SessionParent.Localize("Verified Citizen")"> (✓)</span>
	}
	else
	{
		<span style="cursor:help" title="@SessionParent.Localize("Unverified Citizen")"> (✗)</span>
	}
</span>