@inherits ModelComponentBase<IInputGroupModel<LoginType, LoadPrehashedPasswordParameters.Failure>>
@namespace CitizenBank.Features.Authentication.Login

<div @attributes="Attributes">
    <div>
        @Model.Label
    </div>
    <LoginTypeInput Value="Model.Input" />
    <div>
        @Model.Description
    </div>
</div>