@inherits ModelComponentBase<IInputGroupModel<CitizenName, string>>

<div @attributes="Attributes">
    <div>
        @Model.Label
    </div>
    <CitizenNameInput Value="Model.Input" />
    <div>
        @Model.Description
    </div>
</div>
