@inherits RhoMicro.ApplicationFramework.Presentation.Views.Blazor.Abstractions.ComponentBase

<a @attributes="Attributes">
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        ClassNames = ClassNames.Add([
            "my-1", "px-6", "py-2",
            "decoration-inherit", "text-inherit",
            "rounded-md",
            "hover:bg-cyan-500/10", "hover:cursor-pointer", "hover:transition", "hover:ease-in",
            "active:bg-cyan-500/20", "active:translate-y-1"]);

        base.OnParametersSet();
    }
}