@inherits AfComponent
@namespace CitizenBank.Features.Shared.Views.Shared

<div class="shadow-cyan-500/10 flex flex-row flex-nowrap bg-slate-900 align-middle text-xl shadow-xl">
    <div class="flex shrink items-center justify-center p-1">
        <a class="p-3 text-2xl hover:cursor-pointer" href="/">
            CitizenBank
        </a>
    </div>
    <div class="items flex grow flex-row p-1">
        <span class="grow"></span>
        <NavItem href="/register">
            Register
        </NavItem>
        <NavItem href="/login">
            Login
        </NavItem>
    </div>
</div>
