@inherits ModelComponentBase<IInputGroupModel<ClearPassword, ValidatePassword.Mismatch>>
@namespace CitizenBank.Features.Authentication.Login

<div @attributes="Attributes">
    <div>
        @Model.Label
    </div>
    <ClearPasswordInput Value="Model.Input" />
    <div>
        @Model.Description
    </div>
</div>