@inherits ModelComponentBase<IInputGroupModel<ClearPassword, PasswordValidity>>

<div @attributes="Attributes">
    <div>
        @Model.Label
    </div>
    <ClearPasswordInput Value="Model.Input" />
    <div>
        @Model.Description
    </div>
</div>