@inherits PBFrontend.UI.Miscellaneous.Loading.Children.LoadingChild

<div class="input-group">
    <Loading>
        <Spinner></Spinner>
    </Loading>
    <NotLoading>
        <PBFrontend.UI.Input.TextInput Placeholder="Name"
                                       @bind-Value="linkNewInputValue"
                                       ValidationField="linkNewResponse.Validation[nameof(ICitizenService.CreateCitizenLinkRequestParameter.Name))"
                                       OnEnterPressed="e=>LinkNew(e)" />
        <div class="input-group-append">
            <button class="btn btn-outline-success"
                    @onclick="LinkNew">
                <Localize Value="Link" />
            </button>
        </div>
    </NotLoading>
    <PBFrontend.UI.Input.Validation ValidationField="linkNewResponse.Validation[nameof(ICitizenService.CreateCitizenLinkRequestParameter.Name))" />
</div>