@inherits LayoutComponentBase
@namespace CitizenBank.Shared.Presentation.Views.Shared

<div class="flex h-screen w-screen flex-col bg-gradient-to-b from-cyan-950 to-slate-900 text-white">
    <TopMenu />
    @Body
</div>
